div#content_home {
    position: absolute;
    top: 200px;
    left: 110px;
    right: 110px;
}

div#homeimg {
    background: #ddd;
    padding: 5px 0 1px 0;
    text-align: center;
}

div.map_view{
    position: absolute;
    top: 750px;
    left: 110px;
}

div.info{
    position: absolute;
    top: 750px;
    left: 450px;
    font-size: 15px; color: #263755;
    text-style :bold
}
