#tbl {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}

#tbl tr:hover {background-color: #ddd;}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2fae9;
    color: #006150;
}

.centered { text-align: center; }

.leftpadding30percent { padding-left: 30%; }

#disqus_thread { font-size: 6px; } /* ch08 1/1 */

#my_form{
    margin-left: 440px;
}
#table{
    width: 300px;
    background: #f2fae9;
}

#ok{
    margin-left: 100px;
    background: #f2fae9;
}

#tt{
    background: #f2fae9;
    text-align: left;
    margin-left: -50px;
}